<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>无标题文档</title>
	<style>
		ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
		}
		.field-context ul li{
			margin-top:5px;
		}

	</style>
	</head>
	<body>
		<fieldset class="field-panel">
			<legend class="field-title">基本信息</legend>
			<div class="field-context">
				<ul>
					<li style="border-bottom:1px solid #666;">描述信息1</li>
					<li style="border-bottom:1px solid #666;">描述信息2</li>
				</ul>
			</div>
		</fieldset>
		<fieldset class="field-panel">
			<legend class="field-title">其他参数</legend>
			<div class="field-context">
				<ul>
					<li style="border-bottom:1px solid #666;">描述信息1</li>
					<li style="border-bottom:1px solid #666;">描述信息2</li>
				</ul>
			</div>
		</fieldset>
	</body>
	
</html>