<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中间弹出框设计</title>

</head>

<body style="background-color:#066; margin:0; padding:0">
<script>
/*firefox*/
//firefox  与 ie  的 event 事件监听 兼容代码

function __firefox(){
    HTMLElement.prototype.__defineGetter__("runtimeStyle", __element_style);
    window.constructor.prototype.__defineGetter__("event", __window_event);
    Event.prototype.__defineGetter__("srcElement", __event_srcElement);
}
function __element_style(){
    return this.style;
}
function __window_event(){
    return __window_event_constructor();
}
function __event_srcElement(){
    return this.target;
}
function __window_event_constructor(){
    if(document.all){
        return window.event;
    }
    var _caller = __window_event_constructor.caller;
    while(_caller!=null){
        var _argument = _caller.arguments[0];
        if(_argument){
            var _temp = _argument.constructor;
            if(_temp.toString().indexOf("Event")!=-1){
                return _argument;
            }
        }
        _caller = _caller.caller;
    }
    return null;
}
if(window.addEventListener){
    __firefox();
}
/*end firefox*/
</script>

   <script>
   var mouseDown;
   var xx_width;
   var xx_height;
   	function mmm(aa){
		aa.style.cursor='move';
		var div_left=aa.offsetLeft;
//		alert(div_left);
		//$(aa).offset().left;  
		var mouse_x=event.clientX;
		var div_top=aa.offsetTop; var mouse_y=event.clientY;
		xx_width=mouse_x-div_left;
		xx_height=mouse_y-div_top;
		mouseDown=true;
	}
	function mmm2(aa){
		aa.style.cursor='default';
		mouseDown=false;
	}
   	function mmm3(aa){
		if(mouseDown){
			var mouse_x=event.clientX;
			var mouse_y=event.clientY;
			aa.style.top=mouse_y-xx_height+"px";
			aa.style.left=mouse_x-xx_width+"px";
	//		alert(mouse_x);
		}
	}
   </script>
   
<div style="height:100%; width:100%; background:#000; opacity:0.5; position:absolute"></div>

<table id="centerWindow" class="centerWindow" onmousedown="mmm(this)" onmouseup="mmm2(this)" onmousemove="mmm3(this)" cellspacing="0" style="position:fixed; top:100px; left:200px; width:auto; height:auto; border:#aaa 1px solid; border-radius:5px; -webkit-box-shadow:2px 2px 2px #000;-moz-box-shadow:2px 2px 2px #000;">
	<tr style="background-color:#000; height:6px; opacity:0.2; border:#000 1px solid; border-radius:5px;"> <td></td> <td></td> <td></td> </tr>
	<tr> <td style="width:4px; opacity:0.2; background-color:#000"></td> <td style="background-color:#222;border:#aaa 1px solid; border-radius:5px;">
    	<div style="width:500px; height:400px; background:#CCC">
        	<div style="border-bottom:#666 2px solid; background:#099; font-weight:bold; text-indent:2px; color:#FFF; line-height:25px;">设置 <span style="float:right">x&nbsp;</span> </div>
        </div>
    </td> <td style="width:4px; opacity:0.2; background-color:#000"></td> </tr>
	<tr style="background-color:#000; height:6px; opacity:0.2;"> <td></td> <td></td> <td></td> </tr>    
</table>



</body>
</html>
